* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', 'Open Sans', 'Montserrat', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    /* background-color: #e43b7c;
    background-image: linear-gradient(-31.0deg, #378fd9 -3%, #4ebefe 103%); */
    background: rgb(75,184,249);
    background: linear-gradient(90deg, rgba(75,184,249,1) 0%, rgba(57,148,221,1) 100%);
    padding-top: 62px;
    padding-bottom: 72px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.first_title {
    color: #ffffff;
    width: 555px;
    font-size: 37px;
    line-height: 49px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.first_title span { 
    font-size: 59px;
    line-height: 73px;
}

.first_descr {
    font-family: OpenSans;
    width: 400px;
    margin-top: 47px;
    color: #ffffff;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.btn {
    margin-top: 45px;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 25px;
    font-weight: 900;
    letter-spacing: 0.02em;
    background: #ffd429;
    color: #2e2a1b;
    display: block;
    width: 222px;
    padding: 22px 27px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #9b7e0a;
}

.main_img {
    width: 641px;
    height: 641px;
}

.benefits_info, .contacts {
    padding: 107px 0 120px 0;
}

.section_title {
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #201b2d;
    margin-bottom: 65px;
    text-align: center;
}

.benefits {
    display: flex;
    justify-content: space-around;
}

.benefit {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 300px;
}

.benefit_title {
    padding-top: 31px;
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #201b2d;
}

.benefit_descr {
    margin-top: 17px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #201b2d;  
}

.benefit_img01 {
    width: 63px;
    height: 60px;
}

.benefit_img02 {
    width: 57px;
    height: 68px;
}

.benefit_img03 {
    width: 35px;
    height: 70px;
}

.contacts {
    background-color: #ecf3f8;
    justify-content: center;
}

input {
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    min-width: 343px;
    opacity: 0.54;
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #201b2d;
    padding: 15px 0 15px 25px;
    margin: 7px auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_bottom {
    margin-top: 7px;
    min-width: 343px;
    border: none;
}

.footer {
    width: 1920px;
    background-color: #164d7a;
}

.rights {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-top: 62px;
    text-align: center;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .first {
        width: 100%;
    }
    .first_title {
        margin-top: -180px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .benefit {
        display: block;
        flex-direction: row;
    }
}

/* 0px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    } 
}