h1 {
    color: red;
}

.box {
    width: 100px;
    background-color: blue;
    color: white;
}

.red {
    color: red;
}

.next, .end {
    background-color: green;
    color: white;
}

.skill {
    background-color: green;
    color: white;
    padding: 30px;    
}

.first_skill {
    padding: 5px 0 5px 100px;
}

.list {
    border: 1px solid black;
    font-size: 26px;
}

